/*
 * apheleia.scss
 */
$color-primary: #64543E;
$color-secondary: #95C7A4;
$color-tertiary: #3C90BE;
$color-quaternary: #FEFEF2;

body {
  background-color: $color-quaternary;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: $color-secondary;
  font-weight: 900;
  font-size: 10em;
  font-size: 18vw;
}

h2 {
  color: $color-primary;
  font-weight: 700;
  font-size: 2em;
}

.tertiary {
  background-color: $color-tertiary;
}

.tertiary, .tertiary  h2, .tertiary h3 {
  color: $color-quaternary;
}

.aph-about a {
  color: $color-quaternary;
  text-decoration: underline;
}

.aph-contact a {
  font-size: 6em;
}

.shadow {
  box-shadow: 0 0 10px #000;
}